.toast {
  position: fixed;
  height: 30px;
  width: fit-content;
  top: 2em;
  right: 2em;
  padding: 2em;
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 3px;
  transform: translateX(100vw);
  transition: transform 1s, opacity 2s;
  will-change: transform, opacity;
  opacity: 0;
  z-index: 3;
  box-shadow: -2px 2px 10px 3px rgba(206, 206, 206, 0.2);
}

.show-toast {
  transform: translateX(0);
  opacity: 1;
}

.hide-toast {
  opacity: 0;
}

.toast-msg {
  margin-left: 0.5em;
}

.toast-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  background-color: cornflowerblue;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 3s;
  will-change: width;
}

.text-input {
  height: 1.8em;
  padding: 0.1em 0.1em 0.1em 0.5em;
  border: 2px solid aliceblue;
  border-radius: 10px;
  background: none;
  color: aliceblue;
  font-size: 1em;
  outline: 5px solid transparent;
}

.text-input::placeholder {
  color: #c0c0c0;
}

.text-input:focus {
  transition: outline 1s;
  will-change: outline;
  border-width: 1px;
  border-color: cornflowerblue;
  outline: 1px solid cornflowerblue;
}

.text-input:disabled {
  border-color: #8c9297;
  color: #c1c8ce;
}

.disabled {
  filter: grayscale(0.75);
  pointer-events: none;
}

.controls-div {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 1em 0 1em;
}

.mode-algorithm-selection-div,
.mode-selection-div,
.array-size-div,
.speed-div,
.order-sort-div,
.order-selection-div {
  display: flex;
  align-items: center;
}

.mode-algorithm-selection-div,
.order-sort-div {
  gap: 1em;
}

.mode-selection-div,
.order-selection-div {
  gap: 0.75em;
}

.mode-selection-div > a,
.order-selection-div > a {
  cursor: pointer;
}

.mode-btn-div,
.order-btn-div {
  height: 2.25em;
  width: 2.75em;
  padding: 0.25em;
  border: 2px solid #6e6e6e;
  border-radius: 15%;
  background: linear-gradient(145deg, #3c3c3c, #111111);
  display: flex;
  align-items: flex-end;
  transition: background 3s;
  will-change: background;
}

.mode-order-btn-active {
  animation: mode-order-btn-active 0.3s;
}

@keyframes mode-order-btn-active {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.mode-btn-element {
  position: absolute;
  height: 0.75em;
  width: 0.75em;
  transition: height 0.3s, width 0.3s, transform 0.3s;
  will-change: height, width, transform;
}

.mode-btn-element:nth-child(1) {
  transform: translateX(0.375em);
  background-color: #ff6961;
}

.mode-btn-element:nth-child(2) {
  transform: translateX(0.75em) translateY(-0.75em);
  background-color: #77dd77;
}

.mode-btn-element:nth-child(3) {
  transform: translateX(1.125em);
  background-color: #779ecb;
}

.algorithm-selection-dropdown-btn {
  padding: 0.5em 0.75em;
  font-size: 1em;
  background-color: #343434;
  border: 2px solid #555555;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  min-width: 10em;
}

.algorithm-selection-dropdown-btn:hover {
  background-color: #444444;
}

.algorithm-selection-dropdown-btn:focus {
  background-color: #555555;
  border: 2px solid #666666;
}

.selected-algo-div {
  transition: opacity 0.3s;
  will-change: opacity;
}

.algorithm-selection-dropdown-btn > svg {
  transition: transform 0.3s, scale 0.3s;
  will-change: transform, scale;
}

.algorithm-selection-dropdown-btn:hover > svg {
  scale: 1.1;
}

.algorithm-selection-dropdown-content {
  position: absolute;
  height: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.5s;
  will-change: height;
  border-radius: 0 0 5px 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.algorithm-selection-dropdown-content > a {
  height: calc(2em + 10px);
  width: calc(100% - 2px);
  min-width: calc(10em - 2px);
  margin-left: 1px;
  display: none;
  opacity: 0;
  background-color: #343434;
  color: aliceblue;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: transform 0.5s, opacity 0.3s, background-color 0.3s;
  will-change: transform, opacity, background-color;
}

.algorithm-selection-dropdown-content > a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background-color: #222222;
  transform: translateX(-0.75em) translateY(0.85em);
}

.algorithm-selection-dropdown-content > a:hover {
  background-color: #292929;
  scale: 1.05;
}

.algorithm-selection-dropdown-content > a:last-child {
  border-radius: 0 0 5px 5px;
}

.algorithm-selection-dropdown-content > a:last-child::after {
  background: none;
}

.array-size-div {
  gap: 1em 0.5em;
  flex-wrap: wrap;
}

.array-length-label {
  width: 9em;
}

.range-input {
  --color: #ffb449;
  --gap: 4px;
  --thickness: 3px;
  --thumb-size: 15px;
  width: 100px;
  height: var(--thumb-size);
  --_color: color-mix(in srgb, var(--color), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.range-input:focus-visible,
.range-input:hover {
  --p: 25%;
}

.range-input:active,
.range-input:focus-visible {
  --_b: var(--thumb-size);
}

.range-input[type="range" i]::-webkit-slider-thumb {
  height: var(--thumb-size);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--thickness)) inset var(--_color);
  border-image: linear-gradient(90deg, var(--_color) 50%, #ababab 0) 0 1 / calc(50% - var(--thickness) / 2) 100vw/0 calc(100vw + var(--gap));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  background: none;
}

.range-input[type="range"]::-moz-range-thumb {
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--thickness)) inset var(--_color);
  border-image: linear-gradient(90deg, var(--_color) 50%, #ababab 0) 0 1 / calc(50% - var(--thickness) / 2) 100vw/0 calc(100vw + var(--gap));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}

@supports not (color: color-mix(in srgb, red, red)) {
  .range-input {
    --_color: var(--color);
  }
}

.range-input:disabled {
  --color: #73562e;
}

.array-length-range {
  transform: translateX(-2em);
}

.generate-array-btn,
.shuffle-array-btn,
.insert-array-btn {
  height: 2.5em;
  padding: 0 1em;
  background: none;
  border: 2px solid #6090bf;
  border-radius: 10px;
  color: #6090bf;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  will-change: border-color, color;
}

.generate-array-btn,
.shuffle-array-btn {
  transform: translateX(-1.5em);
}

.shuffle-array-btn {
  margin-left: 2.5em;
}

.generate-array-btn:hover,
.shuffle-array-btn:hover,
.insert-array-btn:hover {
  border-color: #3a6189;
  color: #4977a5;
}

.generate-array-btn:active,
.shuffle-array-btn:active,
.insert-array-btn:active {
  border-color: #294c6e;
  color: #315981;
}

.generate-array-btn:disabled,
.shuffle-array-btn:disabled,
.insert-array-btn:disabled {
  border-color: #485869;
  color: #485869;
}

.speed-label {
  width: 6em;
}

.order-btn-bar {
  position: absolute;
  width: 0.5em;
  transition: transform 0.3s;
  will-change: transform;
}

.order-btn-bar:nth-child(1) {
  height: 0.5em;
  background-color: #ff6961;
}

.order-btn-bar:nth-child(2) {
  height: 1em;
  background-color: #77dd77;
}

.order-btn-bar:nth-child(3) {
  height: 1.5em;
  background-color: #779ecb;
}

.sort-btn {
  height: 2em;
  padding: 0 1em;
  background-color: #6090bf;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: system-ui, "Segoe UI", Roboto;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  will-change: background-color, color;
}

.sort-btn:hover {
  background-color: #4a7199;
  color: #dddddd;
}

.sort-btn:active {
  background-color: #36587b;
}

.sort-btn:disabled {
  background-color: #485869;
  color: #9c9c9c;
}

.input-array-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.array-input {
  width: 18em;
}

.color-key-title {
  margin-bottom: 0.5em;
}

.color-key-container {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em 1em;
}

.color-key-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.array-elements-div {
  min-height: 50vh;
  justify-content: center;
  gap: 10em 0.75em;
}

.array-elements-div-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, max-content));
  padding: 5em 2em;
}

.array-elements-div-bars {
  display: flex;
  align-items: flex-end;
  margin: 0 5vw;
}

.details-div {
  transform: translateY(100px);
  padding: 0 1em;
}

.algo-name {
  transition: all 0.3s;
}

.description-data,
.complexities-table-div,
.implementation-code-div-container {
  border: 2px solid #e1c564;
  border-radius: 12px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4), -6px -6px 12px rgba(255, 255, 255, 0.1);
}

.description-complexities-div {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
  gap: 2em;
}

.description-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.description-data {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #ddd;
  gap: 1em;
  margin-bottom: 2em;
  transition: all 0.3s;
}

.description-data strong {
  color: #fff;
  text-decoration: underline;
}

.complexities-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.complexities-table-div {
  display: flex;
  flex-direction: column;
  min-width: 370px;
  max-width: 370px;
  padding: 20px;
  color: #ddd;
}

.complexities-div table {
  border-style: hidden;
  border-collapse: collapse;
}

.complexities-div th,
.complexities-div td {
  border: 2px solid rgba(240, 128, 128, 0.8);
  padding: 5px;
  text-align: left;
  transition: all 0.3s;
}

.implementation-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: fit-content;
}

.implementation-code-div-container {
  overflow-x: hidden;
}

.implementation-code-div {
  width: fit-content;
  max-width: calc(100vw - 4px - 2em);
  background-color: #242424;
  transition: all 0.3s;
  overflow-x: auto;
  cursor: initial;
}

.implementation-code-div pre {
  padding: 0 2em 1em 1em;
}

.implementation-code-div pre code {
  background-color: #242424 !important;
}

.hljs-ln-numbers {
  border-right: 1em solid transparent;
  opacity: 0.8;
  text-align: right;
}

.animate-change {
  opacity: 0;
}

@media screen and (max-width: 968px) {
  .description-complexities-div {
    flex-direction: column;
    margin: 2em 0 3em 0;
  }

  .complexities-table-div {
    min-width: fit-content;
  }
}

@media screen and (max-width: 748px) {
  .array-div {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 720px) {
  .toast {
    top: initial;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: 5vh;
    transform: translateY(100vh);
  }

  .show-toast {
    transform: translateY(0);
  }

  .array-div {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 565px) {
  .array-div {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 550px) {
  .color-key-container {
    grid-template-columns: 1fr 1fr;
  }

  .implementation-code-div {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 540px) {
  .array-elements-div {
    padding: 0;
  }

  .array-div {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 460px) {
  .controls-div {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .generate-array-btn {
    transform: translateX(0);
  }
}

@media screen and (max-width: 420px) {
  .toast {
    padding: 2em 1em;
    font-size: 0.9em;
  }
}
